@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

:root {
  --primary: #00bfa6;
  --white: #fff;
  --text-light: #f0f0f0;
}

* {

  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  width: 100vw;
  background: #000;
  color: var(--white);
  overflow-x: hidden;
}
